name: E2E
on: [push]
jobs:
  e2e:
    name: E2E
    strategy:
      matrix:
        # run 2 copies of the current job in parallel
        # and they will load balance all specs
        os: ['ubuntu-latest', 'macos-latest'] #'windows-latest',
        machines: [1, 2]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      # because of "record" and "parallel" parameters
      # these containers will load balance all found tests among themselves
      - name: Run tests
        uses: cypress-io/github-action@v1
        timeout-minutes: 10
        with:
          #working-directory: e2e
          #env: configFile=staging
          record: true
          parallel: true
          group: Parallel 2x on ${{ matrix.os }}
          # on Mac and Linux we can use "npm start"
          start: npm run demo
          wait-on: http://localhost:7777
          #start-windows: npm run start:ci:windows
        env:
          # pass the Dashboard record key as an environment variable
          CYPRESS_RECORD_KEY: ${{ secrets.DASHBOARD_RECORD_KEY }}
